{% extends "base.html" %}

{% block content %}
<div class="content-section" style="position:relative;top:150px;" >
    <center> <h4 style="margin-left:20px;">Delete All Data</h4></center>
</div>
<div class="content-section"
     style="background: #ccebff;
            padding: 10px 20px;
            margin-top: 20px;
            margin-left: 20px;
            margin-left: 20px;
            position:relative;top:150px;">

    <h4 style="">All Data have been deleted.</h4>
</div>
{% endblock content %}