{% extends "base.html" %}

{% block content %}
<div class="content-section" style="position:relative;top:150px;" >
    <center> <h4 style="margin-left:20px;">Load Balancer DNS</h4></center>
</div>
<div class="content-section"
     style="background: #ccebff;
            padding: 10px 20px;
            margin-top: 20px;
            margin-left: 20px;
            margin-left: 20px;
            position:relative;top:150px;">
    <a href = "https://explore.org/livecams/panda-bears/china-panda-cam-1">Load Balancer DNS: http://ni shi SB</a>
</div>
{% endblock content %}