{% extends "base.html" %}

{% block content %}
<div class="content-section" style="position:relative;top:150px;" >
    <center> <h4 style="margin-left:20px;">Load Balancer DNS</h4></center>
</div>
<div class="content-section"
     style="background: #ccebff;
            padding: 10px 20px;
            margin-top: 20px;
            margin-left: 20px;
            margin-left: 20px;
            position:relative;top:150px;">
    <a href = "http://a2LoadBalancer-472858139.us-east-1.elb.amazonaws.com">Load Balancer DNS: http://a2LoadBalancer-472858139.us-east-1.elb.amazonaws.com</a>
</div>
{% endblock content %}