{% extends "base.html" %}

{% block content %}
<div class="content-section">

 <header class="jumbotron my-7">
    <div class="container text-center">
 <br><br>
        <center> <h4 style="margin-left:20px;">Number of Workers in the Past 30 Minutes
            <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            {% if instance_num != None %}
            <img src="data:image/png;base64,{{ instance_num }}" style="width:800px;height:600px;">
            {% endif %}
        </div>
    </div>
</header>
</div>
{% endblock content %}